{% load webpack_loader static %}
{% include "watermeters/filter-sort-form.html" %}
{% load humanize %}


<div id="cards-view" class="text-center">
    {% if queryset %}
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-4">
            {% for object in queryset %}
                    {% if object.id %}
                        <div class="col">
                            <div class="card border border-2 border-primary rounded-4 h-100">
                                <div class="card-body py-4">
                                    <div class="card-title m-0 text-primary d-inline-flex align-items-center">
                                        {% if object.hourly_consumption is not none %}
                                            <svg class="me-2 drop-icon"><use href="{% static 'vendors/images/drop.svg' %}#drop"></use></svg>
                                            <span class="display-5 fw-bold me-2">{{ object.hourly_consumption|intcomma }}</span>
                                            <span class="fs-5 fw-semibold">l/hod</span>
                                        {% else %}
                                            <span class="display-5 fw-bold">–⁠</span>
                                        {% endif %}
                                    </div>
                                    <h6 class="card-subtitle"><a href="{{ object.get_absolute_url }}" class="text-dark text-decoration-none stretched-link d-inline-flex justify-content-center align-items-center fs-5 fw-semibold mt-2 mb-3">{% if object.name is not None%}{{ object.name|upper }}{% else %}{{ object.id }}{% endif %}<svg class="ms-2 status-fill-colors-{{ object.status.name|lower }}"><use href="{% static 'vendors/images/circle.svg' %}#circle"></use></svg></a></h6>
                                    <ul class="list-unstyled">
                                        <li><span class="fw-semibold">Stav vodoměru:</span> {% if object.last_record_value is not none %}{{ object.last_record_value|intcomma }}{% else %}–{% endif %} l</li>
                                        <li><span class="fw-semibold">Denní spotřeba:</span> {% if object.daily_consumption is not none %}{{ object.daily_consumption|intcomma }}{% else %}–{% endif %} l</li>
                                        <li><span class="fw-semibold">Poslední aktualizace:</span> {% if object.last_record_time is not none %}{{ object.last_record_time|naturaltime }}{% else %}–{% endif %}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>Nebyly nalezeny žádné výsledky.</p>
    {% endif %}
</div>