{% load webpack_loader static %}
{% include "watermeters/filter-sort-form.html" %}
{% load humanize %}


<div id="home-view" class="text-center">
    {% if queryset %}
        <button hx-get='{% url "vodomery:base" %}' hx-target="#base-view" hx-push-url="true" hx-include="[name='f'], [name='q'], [name='s'], [name='v']" class="btn btn-primary rounded-5 px-4 mb-5 fw-semibold">Zobrazit všechny vodoměry</button>
        <h2 class="my-5 text-uppercase fw-bold">Vodoměry s největším průtokem</h2>
        <div class="row g-5">
            {% for object in queryset %}
                    {% if object.id %}
                        <div class="col">
                            <div class="card border-0 bg-transparent h-100">
                                <div class="position-relative">
                                    <svg class="drop-icon-home card-img-top"><use href="{% static 'vendors/images/drop.svg' %}#drop"></use></svg>
                                    <div class="drop-text position-absolute start-50 translate-middle">
                                        <h4 class="text-primary fs-1 fw-bold m-0">{% if object.hourly_consumption is not none %}{{ object.hourly_consumption|intcomma }}{% else %}?{% endif %}</h4>
                                        <h5 class="m-0">l/hod</h5>
                                    </div>
                                </div>
                                <div class="card-body mt-2 pb-0">
                                    <h3 class="card-title fs-4 fw-semibold">{% if object.name is not None%}{{ object.name|upper }}{% else %}{{ object.id }}{% endif %}</h3>
                                </div>
                                <div class="card-footer bg-transparent border-0"><a href="{{ object.get_absolute_url }}" class="btn btn-primary border border-primary rounded-5 px-4 fw-semibold">Podrobný přehled</a></div>
                            </div>
                        </div>
                    {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>Nebyly nalezeny žádné výsledky.</p>
    {% endif %}
</div>