{% include "watermeters/filter-sort-form.html" %}


<div id="map-view" class="text-center">
    {% if map %}
        {{ map|safe }}
    {% else %}
        <p>Nebyly nalezeny žádné výsledky.</p>
    {% endif %}
</div>