{% include "watermeters/filter-sort-form.html" %}
{% load webpack_loader static %}
{% load humanize %}


<div id="table-view" class="text-center table-responsive">
    {% if queryset %}
        <table class="table table-hover">
            <thead class="border-bottom border-primary border-2">
                <tr>
                  <th scope="col">Název</th>
                  <th scope="col">Stav vodoměru (l)</th>
                  <th scope="col">Denní spotřeba (l/den)</th>
                  <th scope="col">Aktuální spotřeba (l/hod)</th>
                  <th scope="col">Poslední aktualizace</th>
                </tr>
              </thead>
              <tbody>
                {% for object in queryset %}
                <tr class="border-bottom border-secondary position-relative text-nowrap"> 
                    {% if object.id %}
                        <th scope="row"><a href="{{ object.get_absolute_url }}" class="stretched-link text-dark text-decoration-none d-inline-flex justify-content-center align-items-center fw-semibold">{% if object.name is not None%}{{ object.name|upper }}{% else %}{{ object.id }}{% endif %}<svg class="ms-2 status-fill-colors-{{ object.status.name|lower }}"><use href="{% static 'vendors/images/circle.svg' %}#circle"></use></svg></a></th>
                        <td>{{ object.last_record_value|intcomma }}</td>
                        <td>{% if object.daily_consumption is not none %}{{ object.daily_consumption|intcomma }}{% else %}–{% endif %}</td>
                        <td>{% if object.hourly_consumption is not none %}{{ object.hourly_consumption|intcomma }}{% else %}–{% endif %}</td>
                        <td>{{ object.last_record_time|naturaltime }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
              </tbody>
        </table>
    {% else %}
        <p>Nebyly nalezeny žádné výsledky.</p>
    {% endif %}
</div>