{% load webpack_loader static %}

<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kAppka – {{ title }}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'vendors/favicon.svg' %}">
    {% stylesheet_pack "app" %}
</head>

<body class="d-flex flex-column min-vh-100" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include "base/navbar.html" %}

    <main class="my-5">
        {% block content %}
        <p>Nenalezeno.</p>
        {% endblock %}
    </main>

    {% include "base/footer.html" %}
    {% javascript_pack 'app' attrs='charset="UTF-8"' %}
    
</body>

</html>