{% load webpack_loader static %}


<footer class="container py-4 mt-auto border-top border-primary border-2">
    <div class="row justify-content-between">
        <div class="col-12 col-lg-5 d-flex align-items-center justify-content-center justify-content-lg-start">
            <span class="text-nowrap">Ve spolupráci s</span>
            <span class="ms-4"><a class="text-muted" href="#"><img src="{% static 'vendors/images/logos/decin-mesto-logo.svg' %}"
                        alt="Portabo" height="28px"></a></span>
            <span class="ms-4"><a class="text-muted" href="#"><img src="{% static 'vendors/images/logos/decin-bozi-logo.svg' %}"
                        alt="Portabo" height="28px"></a></span>
        </div>
        <div class="col-12 col-lg-5 mt-4 mt-lg-0 justify-content-center justify-content-lg-end d-flex align-items-center">
            <span><a class="text-muted" href="#"><img src="{% static 'vendors/images/logos/portabo-logo.svg' %}" alt="Portabo"
                        height="28px"></a></span>
            <span class="ms-2 small text-end">&copy; 2023 Portabo, Datové centrum ÚK, Ústecký kraj. <a href="https://gitlab.com/portabo/kappka" class="link-primary">Distribuováno</a> pod licencí MIT.</span>
        </div>
    </div>
</footer>