{% load webpack_loader static %}


<nav class="navbar py-3">
    {% comment %} justify-content-center {% endcomment %}
    <div class="container flex-md-row flex-column">
        <a class="navbar-brand d-flex align-items-center justify-content-center me-0" href="/"><img class="navbar-img img-fluid" src="{% static 'vendors/images/logos/kappka-logo.svg' %}" alt="kAppka">
            <span class="navbar-text ms-3 pb-0 text-primary fs-5 fw-semibold">Vodoměry Děčín</span>
        </a>
        {% comment %} <button type="button" class="me-auto me-md-0 ms-auto btn btn-primary my-2 my-md-0 px-4 border border-primary rounded-5 d-inline-flex justify-content-center align-items-center fw-semibold"><img class="me-2 btn-icon" src="{% static 'vendors/images/icons/user.svg' %}"></img>Přihlásit se</button> {% endcomment %}
    </div>
</nav>