$font-family-sans-serif: "Futura";
$primary: #1ba2e6;

@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: Futura;
  font-weight: 400;
  font-style: normal;
  src: url("/vendors/fonts/FuturaPTBook.otf");
}

@font-face {
  font-family: Futura;
  font-weight: 500;
  font-style: normal;
  src: url("/vendors/fonts/FuturaPTMedium.otf");
}

@font-face {
  font-family: Futura;
  font-weight: 600;
  font-style: normal;
  src: url("/vendors/fonts/FuturaPTDemi.otf");
}

@font-face {
  font-family: Futura;
  font-weight: 700;
  font-style: normal;
  src: url("/vendors/fonts/FuturaPTBold.otf");
}

%view-type-icon {
  width: 2rem;
  height: 2rem;
}

.view-type-icon {
  @extend %view-type-icon;

  fill: $black;

  &-selected {
    @extend %view-type-icon;

    fill: $primary;
  }
}

.search-icon {
  fill: $primary;
  transition: 0.15s ease-in-out;

  :hover > & {
    fill: $white;
  }

  :active > & {
    fill: $black;
  }
}

body {
  background-image: url("/vendors/images/waves.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-primary {
  --bs-btn-color: var(--bs-white);
  --bs-btn-hover-color: var(--bs-white);

  text-transform: lowercase;
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-border-color: #{shade-color($primary, 10%)};
  --bs-btn-hover-bg: var(--bs-primary);

  text-transform: lowercase;
}

.loading-indicator-img {
  height: 4rem;
  width: 4rem;
}

.navbar-img {
  width: 8rem;
}

%btn-icon {
  height: 1.25rem;
  width: 1.25rem;
}

.btn-icon {
  @extend %btn-icon;

  &-back {
    @extend %btn-icon;

    transform: rotate(180deg);
    fill: $secondary;
  }
}

.drop-text {
  top: 65%;
}

%circle-icon {
  height: 0.75rem;
  width: 0.75rem;
}

.drop-icon {
  height: 1.75rem;
  width: 1.75rem;
  fill: $primary;

  &-home {
    fill: none;
    height: 14rem;
  }
}

.status-fill-colors {
  @extend %circle-icon;

  fill: $primary;

  &-on {
    @extend %circle-icon;

    fill: $success;
  }

  &-delayed {
    @extend %circle-icon;

    fill: $danger;
  }

  &-off {
    @extend %circle-icon;

    fill: $warning;
  }

  &-unknown {
    @extend %circle-icon;

    fill: $secondary;
  }
}

.status-text-colors {
  color: $primary;

  &-1,
  &-on {
    color: $success;
  }

  &-d,
  &-delayed {
    color: $danger;
  }

  &-0,
  &-off {
    color: $warning;
  }

  &-u,
  &-unknown {
    color: $secondary;
  }
}

.watermeter-card {
  &-header {
    border-top-right-radius: $border-radius-xl;
    border-top-left-radius: $border-radius-xl;
  }

  &-body {
    border-bottom-right-radius: $border-radius-xl;
    border-bottom-left-radius: $border-radius-xl;
  }
}
