{% load webpack_loader static %}
{% load humanize %}


{% block content %}
    <div class="container">
        <a href="{% url "vodomery:base" %}" class="text-secondary text-lowercase text-decoration-none d-inline-flex justify-content-center align-items-center fw-semibold mb-5"><svg class="btn-icon-back me-2"><use href="{% static 'vendors/images/icons/arrow-left.svg' %}#icon"></use></svg>Přehled všech vodoměrů</a>
        <div class="row">
            <div class="col-12 col-lg-4 d-flex flex-column">
                <div>
                    <h1 class="d-inline-flex justify-content-center align-items-center text-uppercase fw-bold">{% if object.name is not none %}{{ object.name }}{% else %}{{ object.id }}{% endif %}<svg class="ms-2 status-fill-colors-{{ object.status.name|lower }}"><use href="{% static 'vendors/images/circle.svg' %}#circle"></use></svg></h1>
                    <p class="fw-semibold">{% if object.description is not none %}{{ object.description }}{% else %}Popis není uveden.{% endif %}</p>
                    <div class="d-inline-flex justify-content-center">
                        <svg class="btn-icon me-2 mt-1"><use href="{% static 'vendors/images/icons/address.svg' %}#icon"></use></svg>
                        <div>
                            {% if object.address is not none and object.post_code is not none and object.district is not none %}
                            <p class="mb-0">{{ object.address }},</p>
                            <p class="mb-0">{{ object.post_code }} {{ object.district }}</p>
                            {% else %}
                            <p class="mb-0">Kompletní adresa není uvedena.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="my-5 mb-lg-0 mt-lg-auto">
                    <h6 class="mb-0 fw-semibold">Poslední aktualizace:</h6>
                    <p class="mb-0 status-text-colors-{{ object.status.name|lower }} fs-5 fw-bold">{{ object.last_record_time|date:"d.m.Y, G:i:s" }}</p>
                    <p class="mb-0">{{ object.last_record_time|naturaltime }}</p>
                </div>
            </div>
            <div class="col-12 col-lg-8">{{ map|safe }}</div>
        </div>

        {% comment %} Souhrn dat {% endcomment %}
        <div class="row mt-5">
            <div class="col">
                <div class="watermeter-card">
                    <div class="watermeter-card-header border border-2 border-primary bg-primary text-light text-center text-uppercase fw-semibold p-1">Souhrn dat</div>
                    <div class="watermeter-card-body border border-2 border-primary p-1 text-center bg-white">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="m-3">
                                    <div class="text-primary d-inline-flex align-items-center">
                                        <span class="display-5 fw-bold me-2">{% if object.daily_consumption is not none %}{{ object.daily_consumption|intcomma }}{% else %}–{% endif %}</span>
                                        <span class="fs-5 fw-semibold">l</span>
                                    </div>
                                    <div class="text-small fw-semibold">Denní spotřeba</div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="m-3">
                                    <div class="text-primary d-inline-flex align-items-center">
                                        <span class="display-5 fw-bold me-2">{% if object.hourly_consumption is not none %}{{ object.hourly_consumption|intcomma }}{% else %}–{% endif %}</span>
                                        <span class="fs-5 fw-semibold">l/hod</span>
                                    </div>
                                    <div class="text-small fw-semibold">Aktuální spotřeba</div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="m-3">
                                    <div class="text-primary d-inline-flex align-items-center">
                                        
                                        <span class="display-5 fw-bold me-2">{% if object.last_record_value is not none %}{{ object.last_record_value|intcomma }}{% else %}–{% endif %}</span>
                                        <span class="fs-5 fw-semibold">l</span>
                                    </div>
                                    <div class="text-small fw-semibold">Stav vodoměru</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="watermeter-card">
                    <div class="watermeter-card-header border border-2 border-primary bg-primary text-light text-center text-uppercase fw-semibold p-1">Spotřeba za posledních 24 hodin</div>
                    <div class="watermeter-card-body border border-2 border-primary p-1 text-center bg-white">
                        <div class="m-3">{{ daily_graph|safe }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="watermeter-card">
                    <div class="watermeter-card-header border border-2 border-primary bg-primary text-light text-center text-uppercase fw-semibold p-1">Denní spotřeba</div>
                    <div class="watermeter-card-body border border-2 border-primary p-1 text-center bg-white">
                        <div class="m-3">{{ weekly_graph|safe }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}