{% extends "base.html" %}
{% load webpack_loader static %}


{% block content %}
    <div class="container">
        <h2 class="text-uppercase text-center fw-bold mb-0">Vyhledat vodoměr</h2>
        <form id="search-form" class="row row-cols-auto text-center my-5 d-flex justify-content-center" hx-get='{% url "vodomery:base" %}' hx-push-url="true" hx-target="#base-view", hx-include="[name='f'], [name='q'], [name='s'], [name='v']">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                {{ search_form }}
            </div>
            <div class="col-auto mt-2 mt-md-0">
                <button type="submit" class="btn btn-outline-primary border border-2 border-primary rounded-5 d-inline-flex justify-content-center align-items-center fw-semibold px-4">Vyhledat<svg class="btn-icon ms-2 search-icon"><use href="{% static 'vendors/images/icons/arrow-left.svg' %}#icon"></use></svg></button>
            </div>
        </form>
        <div id="base-view">
            {% if request.path == "/" %}
                {% include "watermeters/partials/view/home.html" %}
            {% elif request.path == "/vodomery/" %}
                {% include template %}
            {% endif %}
        </div>
    </div>
{% endblock %}