{% load extras %}


<div class="row mt-5 {% if not show_filter %}d-none{% endif %}">
    <form class="col-12 col-md-8" id="filter-tab" hx-push-url="true" hx-preserve="true">
        <ul class="nav nav-pills" id="listFilterSort" role="tablist" aria-label="Filtrování a řazení">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="filter-tab" data-bs-toggle="tab" data-bs-target="#filter-tab-pane" type="button" role="tab" aria-controls="filter-tab-pane" aria-selected="true">Filtrovat</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="sort-tab" data-bs-toggle="tab" data-bs-target="#sort-tab-pane" type="button" role="tab" aria-controls="sort-tab-pane" aria-selected="false" {% if show_filter == 'modify' %}disabled{% endif %}>Řadit dle</button>
            </li>
        </ul>
        <div class="tab-content mt-3 mb-5" id="list-filter-sort-content">
            <div class="tab-pane show active" id="filter-tab-pane" role="tabpanel" aria-labelledby="filter-tab" tabindex="0">
                {% for choice in filter_sort_form.f %}
                    <div class="form-check form-check-inline status-text-colors-{{ choice.data.value }}">
                        {{ choice }}
                    </div>
                {% endfor %}
            </div>
            <div class="tab-pane" id="sort-tab-pane" role="tabpanel" aria-labelledby="sort-tab" tabindex="1">
                {% for choice in filter_sort_form.s %}
                    <div class="form-check form-check-inline">
                        {{ choice }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </form>
    <form class="col-12 col-md-4 mb-3 mb-md-0 text-end" id="view-tab" hx-push-url="true">
        <div class="btn-group" role="group" aria-label="Volba typu zobrazení">
            {% for choice in view_type_form.v %}
                {{ choice.tag }}
                <label for="{{ choice.id_for_label }}" class="btn btn-link"><svg class="view-type-icon{% if choice.data.selected %}-selected{% endif %}"><use href="{{ choice.data.value|get_view_icon }}#icon"></use></svg></label>
            {% endfor %}
        </div>
    </form>
</div>