{% extends "base.html" %}
{% load webpack_loader static %}


{% block content %}
<div hx-get="{{ hx_url }}" hx-trigger="revealed">
    <div class="htmx-indicator position-absolute top-50 start-50 translate-middle d-flex flex-column">
        <svg class="drop-icon mx-auto"><use href="{% static 'vendors/images/drop.svg' %}#drop"></use></svg>
        <p class="fs-4 text-primary mt-2 mx-auto">Nahrávání...</p>
    </div>
</div>
{% endblock content %}
